<form action="/signup" method="post">
    <input type="text" name="username" placeholder="username"/>
    <input type="password" name="password" placeholder="password"/>
    <input type="email" name="email" placeholder="email"/>
    <input type="text" name="fname" placeholder="First Name"/>
    <input type="text" name="lname" placeholder="Last Name"/>
    <button type="submit">Register</button>
</form>